@charset "utf-8";

.screen{
    position: relative;
    >div:nth-child(1){
        display: none;
        height: 100%;
        >.myprofile{
            display: flex;
            position: relative;
            align-items: center;
            padding: 15px 0;
            margin: 0 10px;
            border: 1px solid #e0e0e0;
            border-style: solid none;
    
            &::before{
                display:none;
                position: absolute;
                left: -10px;
                width: calc(100% + 17px);
                height: 80px;
                background-color: gray;
                opacity: 0.1;
                z-index: 100;
                content: '';
            }
            &:hover::before{
                display: block;
            }
            >span{
                width: 65px;
                z-index: 200;
                >img{
                    display: block;
                    width: 100%;
                    border-radius: 20px;
                }
            }
            >h2{
                margin-left: 15px;
                font-size: 16px;
            }
        }//.myprofile
        >.friendlist{
            >p{
                display: block;
                position: relative;
                height: 40px;
                line-height: 40px;
                margin: 0 10px;
                >img{
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    width: 30px;
                    transform: rotate(270deg);
                    opacity: 0.3;
                    &:hover{
                        opacity: 1;
                    }
                    &:active{
                        opacity: 0.5;
                    }
                }//img
            }//p
            >ul{
                margin-left: 10px;
                >li{
                    display: flex;
                    align-items: center;
                    position: relative;
                    height: 80px;
                    &::before{
                        display: none;
                        position: absolute;
                        width: calc(100% + 7px);
                        height: 100%;
                        left: -10px;
                        background-color: gray;
                        opacity: 0.1;
                        z-index: 100;
                        content: '';
                    }
                    &:hover::before{
                        display: block;
                    }
                    >span{
                        width: 55px;
                        z-index: 200;
                        >img{
                            display: block;
                            width: 100%;
                            height: 55px;
                            border-radius: 15px;
                        }
                    }
                    >h2{
                        margin-left: 15px;
                        font-size: 16px;
                    }
                }
            }
        }//.friendlist
        &.screen-on{
            display: block;
        }
    }//div

    >div:nth-child(2){
        display: none;
        position: relative;
        width: 100%;
        height: 80px;
        >.chat{
            >a{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                position: relative;
                height: 100%;
                margin: 0 15px;
                &::before{
                    display: none;
                    position: absolute;
                    left: -15px;
                    top: 0;
                    width: calc(100% + 27px);
                    height: 100%;
                    margin-right: -20px;
                    background-color: gray;
                    opacity: 0.1;
                    z-index: 100;
                    content: '';
                }
                &:hover::before{
                    display: block;
                }
                >img{
                    width: 55px;
                    border-radius: 20px;
                    z-index: 200;
                    background-color: white;

                }
                >span{
                    display: block;
                    position: absolute;
                    left: 120px;
                    top: 12px;
                    width: 20px;
                    line-height: 20px;
                    height: 20px;
                    color: white;
                    font-size: 10px;
                    text-align: center;
                    background-color: black;
                    border-radius: 50%;
                }
                >div{
                    margin: 12px;
                    z-index: 200;
                    >h2{
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                    >p{
                        display: block;
                        width: 220px;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        white-space:nowrap;
                    }
                }
                >p{
                    position: absolute;
                    right: 5px;
                    top: 20px;
                    z-index: 200;
                }
            }//a
        }//.chat
        &.screen-on{
            display: block;
        }
    }//div
    >div:nth-child(3){
        display: none;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        // border: 1px solid #000;
        // box-sizing: border-box;
        >.info{
            width: 90%;
            margin-top: 20px;
            height: 130px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            background-color: #f8f8f8;
            >.topbox{
                width: 100%;
                border-bottom: 1px solid #e0e0e0;
                >p{
                    margin: 15px 20px;
                    line-height: 1.5;
                    >span{
                        font-size: 20px;
                    }
                }
            }//.topbox
            >.downbox{
                width: 100%;
                height: 50px;
                line-height: 50px;
                margin: 0 20px;
                >p{
                    position: relative;
                    >img{
                        position: absolute;
                        right: 30px;
                        top: 15px;
                        width: 24px;
                    }
                }
            }//.downbox
        }//.info
        >.content{
            display: flex;
            width: 80%;
            justify-content: space-between;
            margin-top: 35px;
            >a{
                >figure{
                    position: relative;
                    width: 50px;
                    line-height: 1.5;
                    >img{
                        display: block;
                        margin: 0 auto;
                        width: 28px;
                        }
                        >figcaption{
                            margin-top: 8px;
                            text-align: center;
                        }
                }//figure
                >figure.new::before{
                    display: block;
                    position: absolute;
                    right: 5px;
                    top: -5px;
                    width: 5px;
                    height: 5px;
                    background-color: red;
                    border-radius: 50%;
                    content: '';
                }//figure.new
            }//a
        }//.content
        >.version{
            position: absolute;
            left: calc(10% / 2);
            bottom: 0;
            width: 90%;
            height: 80px;
            border-top: 1px solid #e0e0e0;
            >a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                >img{
                    width: 30px;
                    margin-right: 10px;
                }
                >p:nth-of-type(2){
                    margin-left: 180px;
                }
            }//a
        }//.version
    &.screen-on{
        display: flex;
    }
    }//div
}//.screen